In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('../data/unprocessed_data.csv')
train

           sr      rr       t      lm      bo     rem     hs     hr  sl
0      93.800  25.680  91.840  16.600  89.840   99.60  1.840  74.20   3
1      91.640  25.104  91.552  15.880  89.552   98.88  1.552  72.76   3
2      60.000  20.000  96.000  10.000  95.000   85.00  7.000  60.00   1
3      85.760  23.536  90.768  13.920  88.768   96.92  0.768  68.84   3
4      48.120  17.248  97.872   6.496  96.248   72.48  8.248  53.12   0
...       ...     ...     ...     ...     ...     ...    ...    ...  ..
10625  98.592  28.592  88.240  18.296  85.888  103.24  0.000  81.48   4
10626  88.880  24.368  91.184  14.960  89.184   97.96  1.184  70.92   3
10627  73.600  21.360  93.360  11.360  91.360   91.80  4.040  63.40   2
10628  62.400  20.240  92.240  10.240  90.240   86.20  2.360  60.60   2
10629  82.880  22.768  90.384  12.960  88.384   95.96  0.384  66.92   3

[10630 rows x 9 columns]

In [3]:
train.rename(columns={"sr": "Snoring Range", "rr" : "Respiration Rate", "t" : "Body Temperature", 'lm' : "Limb Movment Rate", "bo" : "Blood Oxygen", "rem" : "Eye Movement", "hs" : "Number Of Hours Sleep", "hr": "Heart Rate", "sl": "Stress Level"}, inplace=True)
train

,Snoring Range,Respiration Rate,Body Temperature,Limb Movment Rate,Blood Oxygen,Eye Movement,Number Of Hours Sleep,Heart Rate,Stress Level
0,93.800,25.680,91.840,16.600,89.840,99.60,1.840,74.20,3
1,91.640,25.104,91.552,15.880,89.552,98.88,1.552,72.76,3
2,60.000,20.000,96.000,10.000,95.000,85.00,7.000,60.00,1
3,85.760,23.536,90.768,13.920,88.768,96.92,0.768,68.84,3
4,48.120,17.248,97.872,6.496,96.248,72.48,8.248,53.12,0
...,...,...,...,...,...,...,...,...,...
10625,98.592,28.592,88.240,18.296,85.888,103.24,0.000,81.48,4
10626,88.880,24.368,91.184,14.960,89.184,97.96,1.184,70.92,3
10627,73.600,21.360,93.360,11.360,91.360,91.80,4.040,63.40,2
10628,62.400,20.240,92.240,10.240,90.240,86.20,2.360,60.60,2
10629,82.880,22.768,90.384,12.960,88.384,95.96,0.384,66.92,3

In [4]:
train.isnull().sum()

Snoring Range            0
Respiration Rate         0
Body Temperature         0
Limb Movment Rate        0
Blood Oxygen             0
Eye Movement             0
Number Of Hours Sleep    0
Heart Rate               0
Stress Level             0
dtype: int64

In [5]:
train['Snoring Range'].fillna(train['Snoring Range'].mean(), inplace=True)
train['Respiration Rate'].fillna(train['Respiration Rate'].mean(), inplace=True)
train['Body Temperature'].fillna(train['Body Temperature'].mean(), inplace=True)
train['Limb Movment Rate'].fillna(train['Limb Movment Rate'].mean(), inplace=True)
train['Blood Oxygen'].fillna(train['Blood Oxygen'].mean(), inplace=True)
train['Eye Movement'].fillna(train['Eye Movement'].mean(), inplace=True)
train['Number Of Hours Sleep'].fillna(train['Number Of Hours Sleep'].mean(), inplace=True)
train['Heart Rate'].fillna(train['Heart Rate'].mean(), inplace=True)
train['Stress Level'].fillna(train['Stress Level'].median(), inplace=True)
train.isnull().sum()

Snoring Range            0
Respiration Rate         0
Body Temperature         0
Limb Movment Rate        0
Blood Oxygen             0
Eye Movement             0
Number Of Hours Sleep    0
Heart Rate               0
Stress Level             0
dtype: int64

In [ ]:
train.to_csv("../data/Stress_dataset.csv", index=False)